<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-2">
            <div class="logo">
              <a href="index.html">
                <img
                  src="dscimg/gd_dsc_lockup_horizontal_color.png"
                  alt=""
                  width="360"
                  height="33"
                />
              </a>
            </div>
          </div>
          <div class="col-xl-6 offset-xl-3 col-lg-7 offset-lg-3">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a class="active" href="index.html">Home</a></li>
                  <li><a href="WebDev.html">Web Dev</a></li>
                  <li><a href="Data.html">Data Analytics</a></li>
                  <!--<li><a href="AboutUs.html">About Us</a></li>-->
                  <!--<li><a href="#">Events <i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="WebDev.html">Web Development</a></li>
                                          <li><a href="DataAnalytics.html">Data Analytics</a></li>
                                      </ul>
                                  </li>-->
                  <!-- /people is currently under maintanence -->
                  <!-- <li><a href="{{ site.baseurl }}/people">People</a></li> -->
                  <!--<li><a href="contact.html">Contact</a></li>-->
                  <!-- <li><a href="#">Templates<i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="blog.html">blog</a></li>
                                          <li><a href="single-blog.html">single-blog</a></li>
                                          <li><a href="elements.html">template1</a></li>
                                          <li><a href="placeholder1.html">template2</a></li>
                                      </ul>
                                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                      <div class="Appointment">
                          <div class="book_btn d-none d-lg-block">
                              <a  href="#">Download</a>
                          </div>
                      </div>
                  </div> -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
