<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img
                  src="dscimg/gd_dsc_lockup_horizontal_color.png"
                  alt=""
                  width="360"
                  height="33"
                />
              </a>
            </div>
            <p>
              National University of Singapore
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="https://dsc.comp.nus.edu.sg">
                    <i class="fa fa-link"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/dscnus/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dscnus/">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/dscnustech">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-4 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Stay updated
            </h3>
            <ul>
              
              <li><a href="https://dsc.comp.nus.edu.sg">Main website</a></li>
              <li><a href="https://www.linkedin.com/company/dscnus/">LinkedIn</a></li>
              <li><a href="https://www.instagram.com/dscnus/">Instagram</a></li>
              <li><a href="https://github.com/dscnustech">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
