<header>
  <div class="header-area">
    <div id="sticky-header" class="main-header-area sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-2">
            <div class="logo">
              <a href="index">
                <img
                  id="navlogo"
                  src="dscimg/gd_dsc_lockup_horizontal_color.png"
                  alt=""
                  width="360"
                  height="33"
                />
              </a>
            </div>
          </div>
          <div class="col-xl-6 offset-xl-3 col-lg-7 offset-lg-3">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="index">Home</a></li>
                  <li><a href="about">About Us</a></li>
                  <li><a href="webdev">Web Dev</a></li>
                  <li><a href="data">Data Analytics</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
