<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img
                  src="dscimg/gd_dsc_lockup_horizontal_color.png"
                  alt=""
                  width="360"
                  height="33"
                />
              </a>
            </div>
            <p>
              Developer Student Club by Google Developers<br />
              National University of Singapore
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="https://github.com/dscnustech">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dscnus/">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-4 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Stay updated
            </h3>
            <ul>
              <li><a href="https://twitter.com/googledevs">Twitter</a></li>
              <li>
                <a href="https://www.youtube.com/user/GoogleDevelopers"
                  >YouTube</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/googledevelopers/about/"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/Google-Developers-967415219957038/"
                  >Facebook</a
                >
              </li>
              <li>
                <a href="https://www.instagram.com/googledevs/">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
